html {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Space Mono', monospace;
}

#navigationbar{
    border: 1px solid;
    list-style-type: none;
    overflow: hidden;
    font-size: 30px;
    margin:10px;
    justify-content: center;
    text-align: center;
    
}

#navigationbar li{
    float:right;
    margin: 0px 10px 0px 10px;
}

#navigationbar li:first-child{
    float: left;
}

#container{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

#headerlogo{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 50px;
    color: #F9faf8;
}
#items{
    list-style-type: none;
    overflow: hidden;
    font-size: 30px;
    color: #E5E7EB;
}

#items li{
    float:left;
    margin: 0px 10px 0px 10px;
}

#container1{
    display: flex;
    flex-wrap: flex;
    justify-content: space-evenly;
    padding: 5%;
    background-color: #1F2937;

}


#description{
    box-sizing: border-box;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
}

#description h1{
    font-size: 48px;
    font-style: extra-bold;
    color: #f9faf8;
}
#description p{
    font-size: 18px;
    color: #E5E7EB;
}
#description h4{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #f9faf8;
    margin-left: auto;
    margin-right: auto;
}

#descimage{
    /*border: 1px solid;*/
}
#container2{
    padding: 2% 5% 5% 5%;
    display: flex;
    flex-wrap: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
#container2 h2{
    color: #1F2937;
    font-size: 36px;
    font-style: extra-bold;
}

#container2 p{
    color: #1F2937;
    font-size: 15px;
    font-style: extra-bold;
}

#imagecontainer{
    display: flex;
    flex-wrap: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    
}

.image p{
    margin-top: 0;
    color: brown;
}
.imagesize{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
}

#dimage{
    width: 400px;
    height: 350px;
    margin-top: auto;
    margin-bottom: auto;
}

#container3{
    padding: 8% 10% 5% 10%;
    display: flex;
    flex-wrap: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #E5E7EB;
}



#container3 p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}


#container4{
    padding: 5% 10% 5% 10%;
    justify-content: center;
    color: #F9faf8;
}

#lastpart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3% 10% 3% 5%;
    background-color: #3882F6;
    border-radius: 15px;;
}

#lastpart p{
    font-size: large;
    font-weight: 900;
    margin: 1px;
}



#container5{
    justify-content: center;
    text-align: center;
    background-color: #1F2937;
    padding: 2%;
    color:#f9faf8;

}

#signupbutton h4{
    border: 2px solid;
    padding: 5px 40px 5px 40px;
    font-size: 20px;
    border-radius: 10px;

}

#lasttext{
    margin-top: auto;
    margin-bottom: auto;
}